@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">  
    <div>  
        <div class=" col-md-3 col-sm-3">  
            <p style="text-align: center;"><strong>BusinessName</strong></p>  
            <p style="text-align: center;"> <strong>BusinessAddress<br />   
BusinessPhone</strong> </p> <br>  
            <div style="text-align: center;"> <strong>Rate This Business</strong><br> <img width="27" height="25" src="/Images/y-star-small.png"> <img width="27" height="25" src="/Images/y-star-small.png"> <img width="27" height="25" src="/Images/y-star-small.png"> <img width="27" height="25" src="/Images/y-star-small.png">  
                <p><strong>100 Reviews</strong></p>  
                <p><strong>Business description</strong></p>  
                <p><strong>BusinessDescription</strong></p>  
                <div style="margin-top: 10px;">  
                    
        p><strong>Share us on:</strong></p>

                   
                </div>
            </div>
        </div>
    </div>
</div>  