@model LaunchCodeCapstone.ViewModels.AddMovieEntryViewModel

<h1>Add New Movie</h1>

<form asp-controller="MovieEntry" asp-action="Create" method="post">

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="Date">Date</label>
        <input class="form-control" type="date" asp-for="Date" asp-format="{0:yyyy-MM-dd}" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="NumRating">Rating</label>
        <input class="form-control" type="date" asp-for="NumRating" />
        <span asp-validation-for="NumRating" class="text-danger"></span>
    </div>

    <br />

    <input type="submit" value="Add Movie" />
</form>

@* \*asp-format="{0:yyyy-MM-dd}"*\ *@