@model List<LaunchCodeCapstone.Models.MovieEntry>

<h1>Delete Movie</h1>

<form method="post" asp-controller="MovieEntry" asp-action="Delete">
    @foreach (MovieEntry Movie in Model)
    {
        <div class="form-group">
            <label>
                <span>@Movie.Title</span>
                <input type="checkbox" name="MovieEntryIds" value="@Movie.MovieEntryId" class="form-control">
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Movies" class="btn btn-danger">
</form>
