
@{
    <h1>Search for Movies here!</h1>

<form asp-controller="Movie" asp-action="SearchBar" method="get">
    <div class="form-group">
        <label> Title</label>
        <input name="Title"class="form-control" />
        <span></span>
    </div>
    </form>
}
