 @model List<DM.MovieApi.MovieDb.Movies.MovieInfo>

    <h1>Movies</h1>

@foreach (DM.MovieApi.MovieDb.Movies.MovieInfo movie in Model)
{
    
            <table class="table">
                <tr>
                   
                   <td>@movie.Title</td>
                   <td>@movie.Overview</td>
                   <td>@movie.ReleaseDate</td>
                   <td>@movie.PosterPath</td>
        </tr>

        </table>
    }
    
    <p><a asp-controller="Movie" asp-action="Search">Add more movies</a></p>

