 @using LaunchCodeCapstone.Models
 @model List<Movie>

    <h1>Movies</h1>

    @foreach(LaunchCodeCapstone.Models.Movie movie in Model){
    
            <table class="table">
                <tr>
                   <td>@movie.Id</td>
                    <td>@movie.Title</td>            
                </tr>

        </table>
    }
    
    <p><a asp-controller="Movie" asp-action="Search">Add more movies</a></p>

}
