
@{
    <h1>Search for a movie! </h1>

    <form asp-controller="MovieController" asp-action="Search" method="get">
        <div class="form-group">
            <label> Title</label>
            <input name="Title" class="form-control" />
            <span></span>
        </div>

        <input type="submit" value="Add Movie" />
    </form>
}
