

    <h1>Search for a movie! </h1>

@using (Html.BeginForm("Results", "Movie", FormMethod.Post))
{
<form asp-controller="MovieController" asp-action="Search" method="post">
        <div class="form-group">
            <label> Title</label>
            <input name="Title" class="form-control" />
            <span></span>
        </div>

        <input type="submit" value="Add Movie" />
    </form>
    
}

