/* AddMovie.scss */

.movieItem {
    // border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #9D5C63;
    font-weight: bold;
    color: white;
  }
  
.movieItem_title {
    font-weight: bold;
    //color: black;
  }
  
.movieItem_dateWatched {
    font-weight: bold;
    //color: black;
  }
  
.movieItem_rating {
    font-weight: bold;
    //color: black;
  }

