.movieFormBox
{
    text-align: left;
    font-weight: bold;
    width: 500px;
    // border: 5px #DEDBD8;
}

.movieForm
{
    display: grid;
    background-color: #584B53;
    margin: 6px 0;
    padding: 8px 15px;
}

.movieForm_title
{
    align-content: start;
}

.movieForm_rating
{
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    grid-gap: 10px;
    margin: 6px 0;
}

.movieForm_ratingLabel
{
    width: 100%;
}

.movieForm_stars
{
    width: 100%;
}

.movieForm_buttons
{
    display: grid;
    text-align: right;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 6px 0;
    transition: 0.4s;
}

.movieForm_cancelButton
{
    grid-gap: 10px;
    border: none;
    cursor: pointer;
}

.movieForm_cancelButton:hover
{
    background-color: #DEDBD8;
    color: black;
}

.movieForm_submitButton
{
    background-color: #9D5C63;
    border: none;
    cursor: pointer;
}

.movieForm_submitButton:hover
{
    background-color: #E08C94;
}


input{
    width: 75%;
}

input[type=text] {
    width: 80%;
    padding: 8px 15px;
    margin: 6px 0;
    box-sizing: border-box;
  }

  input[type=date] {
    width: 100%;
    padding: 8px 15px;
    margin: 6px 0;
    box-sizing: border-box;
    width: 40%
  }